{% extends "frame/base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<h1>Hey there! </h1>
<h5>Looks like you want an exclusive, School of Rock profile picture frame for this year's play!</h5>
<h3>You've come to the right place :)</h3>

<h2 class="text-decoration-underline">Step 1: Login</h2>
<a href="{% provider_login_url "facebook" method="oauth2" %}"><button class="btn btn-block btn-primary"><i class="fa fa-facebook fa-fw"></i>Login with Facebook</button></a>
{% endblock %}